<div class="w-container">
  <cagov-feedback data-endpoint-url="https://fa-go-feedback-001.azurewebsites.net/sendfeedback ">
    <section aria="aria" -="-" label="feedback">
      <div class="feedback-form cagov-stack">
        <div class="js-feedback-form feedback-form-question">
          <h2 class="feedback-form-label" id="feedback-rating">Našli jste to, co jste hledali?</h2>
          <button class="feedback-form-button js-feedback-yes feedback-yes" id="feedback-yes">Ano</button>
          <button class="feedback-form-button js-feedback-no" id="feedback-no">Ne</button>
        </div>
        <div class="feedback-form-thanks js-feedback-thanks" role="alert">Thank you for your feedback!</div>
        <div class="feedback-form-add">
          <label class="feedback-form-label js-feedback-field-label" for="add-feedback">What was the problem?</label>
          <div class="feedback-form-add-grid">
            <textarea name="add-feedback" class="js-add-feedback feedback-form-textarea" id="add-feedback" rows="1"></textarea>
            <button class="feedback-form-button js-feedback-submit" type="submit" id="feedback-submit">Submit</button>
          </div>
        </div>
        <div class="feedback-form-thanks feedback-thanks-add" role="alert">Thank you for your comments!</div>
      </div>
    </section>
  </cagov-feedback>
</div>