<div class="content-footer-container">
  <div class="content-footer w-container">
    <div class="menu-section">
      <ul class="content-menu-links">
        <li class="" title="" rel="noopener">
          <a href="" target="_blank">O ministerstvu</a>
        </li>
        <li class="" title="" rel="noopener">
          <a href="https://kariera.justice.cz" target="_blank">Práce na ministerstvu</a>
        </li>
      </ul>
    </div>
    <div class="menu-section menu-section-social">
      <ul class="social-links-container">
        <li>
          <a
            href=""
            title="Share via Facebook"
            target="_blank"
            rel="noopener"
            onmousedown="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'facebook.com/cacannabisdept', 0, 0]);
              _gaq.push(['b._trackEvent', 'Outbound Links', 'Click', 'facebook.com/cacannabisdept', 0, 0]);">
            <span class="ca-gov-icon-facebook"></span>
            <span class="sr-only">facebook</span>
          </a>
        </li>
        <li>
          <a
            href=""
            title="Share via Twitter"
            target="_blank"
            rel="noopener"
            onmousedown="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'twitter.com/cacannabisdept', 0, 0]);
              _gaq.push(['b._trackEvent', 'Outbound Links', 'Click', 'twitter.com/cacannabisdept', 0, 0]);">
            <span class="ca-gov-icon-twitter"></span>
            <span class="sr-only">twitter</span>
          </a>
        </li>
        <li>
          <a
            href="mailto:?subject=Home%20page%20%7C%20Department%20of%20Cannabis%20Control&amp;body=https%3A%2F%2Fcannabis.ca.gov%2F"
            title="Share via Email"
            target="_blank"
            rel="noopener">
            <span class="ca-gov-icon-email"></span>
            <span class="sr-only">email</span>
          </a>
        </li>
        <li>
          <a
            href=""
            title="Share via YouTube"
            target="_blank"
            rel="noopener"
            onmousedown="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'youtube.com/c/cadepartmentofcannabiscontrol', 0, 0]);
              _gaq.push(['b._trackEvent', 'Outbound Links', 'Click', 'youtube.com/c/cadepartmentofcannabiscontrol', 0, 0]);">
            <span class="ca-gov-icon-youtube"></span>
            <span class="sr-only">youtube</span>
          </a>
        </li>
        <li>
          <a
            href=""
            title="Share via Instagram"
            target="_blank"
            rel="noopener"
            onmousedown="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'instagram.com/cacannabisdept/', 0, 0]);
              _gaq.push(['b._trackEvent', 'Outbound Links', 'Click', 'instagram.com/cacannabisdept/', 0, 0]);">
            <span class="ca-gov-icon-instagram"></span>
            <span class="sr-only">instagram</span>
          </a>
        </li>
        <li>
          <a
            href=""
            title="Share via LinkedIn"
            target="_blank"
            rel="noopener"
            onmousedown="_gaq.push(['_trackEvent', 'Outbound Links', 'Click', 'linkedin.com/company/cacannabisdept/', 0, 0]);
              _gaq.push(['b._trackEvent', 'Outbound Links', 'Click', 'linkedin.com/company/cacannabisdept/', 0, 0]);">
            <span class="ca-gov-icon-linkedin"></span>
            <span class="sr-only">linkedin</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<footer id="Footer" class="section footer">
  <div class="bg-dark-grey">
    <div class="w-container">
      <div class="">
        <div class="vertical-divider _24px"></div>
        <a href="" class="block-element no-underline w-inline-block footer-link">
          Prohlášení o přístupnosti
        </a>
        <a href="" class="block-element no-underline w-inline-block footer-link">
          GitHub
        </a>
        <div class="vertical-divider _24px"></div>
        <p class="note text-light-grey text-size-12">
          2022 licence MIT
        </p>
      </div>
    </div>
  </div>
</footer>