<footer id="Footer" class="section footer">
  <div class="bg-dark-grey">
    <div class="container">
      <div class="left-padding-12">
        <div class="vertical-divider _24px"></div>
        <a href="/pop" class="block-element no-underline w-inline-block">
          <div class="footer-link">Prohlášení o přístupnosti</div>
          <div class="footer-link">GitHub</div>
        </a>
        <div class="vertical-divider _24px"></div>
        <div class="note text-light-grey text-size-12">
          2022 licence MIT
        </div>
      </div>
    </div>
  </div>
</footer>