---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}
<header class="intro-header">
  <div class="intro-content w-container">
    <h1 class="heading-1 w-col-10">
      Jak tvořit přístupný obsah pro webové stránky veřejné správy
    </h1>
    <p class="">Manuál pro školení k přístupnosti webových stránek a aplikací v resortu Ministerstva spravedlnosti.</p>
    <p>Pochopíte, proč Zákon o přístupnosti existuje a co podle něj musíte splňovat.</p>
  </div>
</header>
<div class="w-container">
  <div class="horizontal-layout hp-layout">
    <div class="w-layout-grid hp-menu-grid">
      <h2 class="sr-only">Témata</h2>
      <a
        href="http://datalot.justice.cz/justice/repznatl.nsf/$$SearchForm?OpenForm&amp;Seq=3#_RefreshKW_select_5"
        target="_blank"
        class="no-underline w-inline-block"
        ><div class="hp-menu-item item-1">
          <div class="horizontal-layout space-between top-align">
            <h3>Porozumění požadavkům</h3>
            <img
              src="https://uploads-ssl.webflow.com/61a898d0b11c4da16f8513ee/61aa43a02b16af6da706524b_Gov-materials-arrow-down.svg"
              loading="lazy"
              width="12"
              alt=""
            />
          </div>
          <p>lorem</p>
        </div></a
      ><a href="/zivotni-situace" class="no-underline w-inline-block"
        ><div class="hp-menu-item item-2">
          <div class="horizontal-layout space-between center-align">
            <h3>Základní kontrola přístupnosti</h3>
            <img
              src="https://uploads-ssl.webflow.com/61a898d0b11c4da16f8513ee/61aa43a02b16af6da706524b_Gov-materials-arrow-down.svg"
              loading="lazy"
              width="12"
              alt=""
            />
          </div>
          <p>
            lorem
          </p>
        </div></a
      ><a
        href="/aktuality-pro-verejnost"
        class="no-underline w-inline-block"
        ><div class="hp-menu-item item-3">
          <div class="horizontal-layout space-between center-align">
            <h3>Psaní přístupného obsahu</h3>
            <img
              src="https://uploads-ssl.webflow.com/61a898d0b11c4da16f8513ee/61aa43a02b16af6da706524b_Gov-materials-arrow-down.svg"
              loading="lazy"
              width="12"
              alt=""
            />
          </div>
          <p>lorem</p>
        </div></a
      ><a href="/kontakt" class="no-underline w-inline-block"
        ><div class="hp-menu-item item-4">
          <div class="horizontal-layout space-between center-align">
            <h3>Plakáty k přístupnosti</h3>
            <img
              src="https://uploads-ssl.webflow.com/61a898d0b11c4da16f8513ee/61aa43a02b16af6da706524b_Gov-materials-arrow-down.svg"
              loading="lazy"
              width="12"
              alt=""
            />
          </div>
          <p>
            lorem
          </p>
        </div></a
      >
      <a href="/kontakt" class="no-underline w-inline-block"
        ><div class="hp-menu-item item-4">
          <div class="horizontal-layout space-between center-align">
            <h3>Šablona stránky Prohlášení o přístupnosti</h3>
            <img
              src="https://uploads-ssl.webflow.com/61a898d0b11c4da16f8513ee/61aa43a02b16af6da706524b_Gov-materials-arrow-down.svg"
              loading="lazy"
              width="12"
              alt=""
            />
          </div>
          <p>
            lorem
          </p>
        </div></a
      >
      <a href="http://schopnost-empatie.glitch.me" rel="noopener" class="no-underline w-inline-block"
        ><div class="hp-menu-item item-6">
          <div class="horizontal-layout space-between center-align">
            <h3>Vžijte se do role člověka se zdravotním postižením</h3>
            <img
              src="https://uploads-ssl.webflow.com/61a898d0b11c4da16f8513ee/61aa43a02b16af6da706524b_Gov-materials-arrow-down.svg"
              loading="lazy"
              width="12"
              alt=""
            />
          </div>
          <p>
            lorem
          </p>
        </div></a
      >
    </div>
  </div>
  <div class="vertical-divider _48px"></div>
  <div class="vertical-divider _48px"></div>
</div>