---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}
<header class="intro-header">
  <div class="intro-content w-container">
    <h1 class="heading-1 w-col-10">
      Jak tvořit přístupný obsah pro webové stránky veřejné správy
    </h1>
    <p class="">Manuál pro školení k přístupnosti webových stránek a aplikací v resortu Ministerstva spravedlnosti.</p>
    <p>Pochopíte, proč Zákon o přístupnosti existuje a co podle něj musíte splňovat.</p>
  </div>
</header>
<div class="w-container">
  <div class="horizontal-layout hp-layout">
    <section class="homepage-section homepage-section--services-and-info">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="homepage-section__heading homepage-section__heading--border-none">
              <h2 class="gem-c-heading govuk-heading-m govuk-!-margin-bottom-6 vh">
                Informace
              </h2 >
              </div>
              <ul class="homepage-services-and-info__list" data-module="gem-track-click">
                <li class="chevron-card">
                  <div class="chevron-card__wrapper">
                    <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                      <a class="govuk-link chevron-card__link" href="/porozumeni">Porozumění požadavkům</a>
                    </h3>
                    <p class="govuk-body chevron-card__description">
                      Obsahuje lorem ipsum, lorem a ipsum
                    </p>
                  </div>
                </li>
                <li class="chevron-card">
                  <div class="chevron-card__wrapper">
                    <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                      <a class="govuk-link chevron-card__link" href="/kontrola">Základní kontrola přístupnosti</a>
                    </h3>
                    <p class="govuk-body chevron-card__description">
                      Zjednodušený seznam bodů, které musíte zajistit
                    </p>
                  </div>
                </li>
                <li class="chevron-card">
                  <div class="chevron-card__wrapper">
                    <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                      <a class="govuk-link chevron-card__link" href="/psaniobsahu">Psaní přístupného obsahu</a>
                    </h3>
                    <p class="govuk-body chevron-card__description">
                      Zjednodušený seznam čeho se držet, když píšete přístupný obsah
                    </p>
                  </div>
                </li>
                <li class="chevron-card">
                  <div class="chevron-card__wrapper">
                    <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                      <a class="govuk-link chevron-card__link" href="/plakaty">Plakáty k přístupnosti</a>
                    </h3>
                    <p class="govuk-body chevron-card__description">
                      Co dělat a nedělat, když tvoříme něco přístupného
                    </p>
                  </div>
                </li>
                <li class="chevron-card">
                  <div class="chevron-card__wrapper">
                    <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                      <a class="govuk-link chevron-card__link" href="/prohlaseni/">Šablona stránky Prohlášení o přístupnosti</a>
                    </h3>
                    <p class="govuk-body chevron-card__description">
                      Šablona, kterou musíte na web publikovat
                    </p>
                  </div>
                </li>
                <li class="chevron-card">
                  <div class="chevron-card__wrapper">
                    <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                      <a class="govuk-link chevron-card__link" href="http://schopnostempatie.glitch.me">Vžijte se do role člověka se zdravotním postižením</a>
                    </h3>
                    <p class="govuk-body chevron-card__description">
                      Přejdete na stránku schopnostempatie.glitch.me
                    </p>
                  </div>
                </li>
              </ul>
              </div>
              </div></section></div> </div>
 