---
layout: layouts/base.njk
section: prohlaseni
---

<header class="intro-header">
  <div class="intro-content w-container">
    <div class="horizontal-layout hp-layout">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <ul>
            <li>
              <a href="/">Domů</a>
            </li>
          </ul>
          <h1 class="heading-1 w-col-10">
            Základní kontrola požadavků na přístupnost
          </h1>
          <p>Proveďte rychlý manuální test přístupnosti.</p>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="w-container">
  <div class="horizontal-layout hp-layout">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <section>
          <h2>Příprava na základní kontrolu</h2>
          <p>Nemusíte kontrolovat všechny stránky svého webu - stačí vzorek. Začněte tedy tím, že zjistíte, co do vzorku zahrnout.</p>
          <p>Pokud máte více než jeden web nebo aplikaci, musíte shromáždit vzorek z každého webu nebo aplikace, které máte.</p>
          <p>Váš vzorek musí obsahovat:</p>
          <ul>
            <li>domovskou stránku vašeho webu</li>
            <li>stránky s obsahem, které jsou převážně textové</li>
            <li>obrázky, video a audio obsah</li>
            <li>interaktivní nástroje a transakce, jako jsou formuláře</li>
            <li>stránky včetně přihlašovacích funkcí, pokud je váš web má</li>
            <li>soubory PDF a další typy dokumentů, které máte</li>
            <li>dynamický obsah, jako jsou vyskakovací okna</li>
            <li>navigační stránky, včetně mapy webu a stránek s funkcí vyhledávání</li>
          </ul>
          <p>Do svého vzorku byste měli zahrnout také všechny stránky nebo webové stránky obsahující informace o přístupnosti, o
            tom, jak vás kontaktovat, jak používat váš web, právní informace (například stránky s podmínkami nebo takové věci, jako
            jsou zásady ochrany osobních údajů) a všechny stránky s nastavením nebo preferencemi.</p>
          <p>Jakmile budete mít svůj vzorek, proveďte postupně kontroly uvedené v tomto návodu.</p>
          <p>Je pravděpodobné, že tyto kontroly budou trvat nejméně několik dní, proto si na jejich zpracování vyhraďte dostatek
            času.</p>
          <p>Některé z požadavků se na vaše webové stránky nemusí vztahovat. Pokud například nemáte žádná videa, můžete testy
            týkající se videoobsahu ignorovat.</p>
        </section>
        <section>
          <h2>Zjednodušený seznam kontrol</h2>
          <p>Abyste splnili standard WCAG 2.1 úrovně AA, musíte odpovědet na všechny otázky Ano nebo Nelze aplikovat.</p>
          <p>Pokud odpovíte Ne, tak to znamená, že nesplňujete WCAG a tím pádem ani Zákon o přístupnosti. To vede k tomu, že váš
            obsah obsahuje bariéry, které některým uživatelům brání se k němu dostat, zvláště těm se zdravotním postižením a starším
            lidem.</p>
          <p>
            <a href="https://github.com/hlavsa/skoleni-pristupnosti/raw/master/static/checklist-pristupnost.docx">Stáhněte si
              Zjednodušený seznam kontrol</a>
            (DOCX, 15kB).</p>
          <h3>Vnímatelnost</h3>
          <div class="c-card__wrapper">
            <div class="c-checklist__wrapper">
              <div class="c-checklist__checkbox">
                <input type="checkbox" name="use-plain-language" id="use-plain-language">
                  <label for="use-plain-language">
                    <span class="vh">Úkol: Mají všechny obrázky odpovídající textový ekvivalent? Jsou podstatné vizuální informace k
                      dispozici také jako text?</span>
                  </label>
                </div>
                <details
                  class="c-checklist"
                  data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                  <summary
                    id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                    class="c-checklist__summary">
                    <span class="c-checklist__summary-inner">
                      <svg
                        class="c-checklist__icon"
                        aria-hidden="true"
                        focusable="false"
                        height="30"
                        width="30"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 30 30">
                        <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                      </svg>
                      <span class="c-checklist__title">Mají všechny obrázky odpovídající textový ekvivalent? Jsou podstatné vizuální informace
                        k dispozici také jako text?</span>
                    </span>
                  </summary>
                  <p class="c-checklist__citation">
                    Naplňuje kritérium úspěšnosti
                    <a
                      class="u-text-transform-uppercase c-checklist__link"
                      href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                  </p>
                </details>
              </div>
              <div class="c-checklist__wrapper">
                <div class="c-checklist__checkbox">
                  <input type="checkbox" name="use-plain-language" id="use-plain-language">
                    <label for="use-plain-language">
                      <span class="vh">Úkol: Mají všechny zvukové soubory přepis? Jsou podstatné zvukové informace k dispozici jako text?</span>
                    </label>
                  </div>
                  <details
                    class="c-checklist"
                    data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                    <summary
                      id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                      class="c-checklist__summary">
                      <span class="c-checklist__summary-inner">
                        <svg
                          class="c-checklist__icon"
                          aria-hidden="true"
                          focusable="false"
                          height="30"
                          width="30"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 30 30">
                          <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                        </svg>
                        <span class="c-checklist__title">Mají všechny zvukové soubory přepis? Jsou podstatné zvukové informace k dispozici jako
                          text?</span>
                      </span>
                    </summary>
                    <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                      <a
                        class="u-text-transform-uppercase c-checklist__link"
                        href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                    </p>
                  </details>
                </div>
                <div class="c-checklist__wrapper">
                  <div class="c-checklist__checkbox">
                    <input type="checkbox" name="use-plain-language" id="use-plain-language">
                      <label for="use-plain-language">
                        <span class="vh">Úkol: Jsou všechna videa opatřena titulky synchronizovanými se zvukem?</span>
                      </label>
                    </div>
                    <details
                      class="c-checklist"
                      data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                      <summary
                        id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                        class="c-checklist__summary">
                        <span class="c-checklist__summary-inner">
                          <svg
                            class="c-checklist__icon"
                            aria-hidden="true"
                            focusable="false"
                            height="30"
                            width="30"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 30 30">
                            <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                          </svg>
                          <span class="c-checklist__title">Jsou všechna videa opatřena titulky synchronizovanými se zvukem?</span>
                        </span>
                      </summary>
                      <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                        <a
                          class="u-text-transform-uppercase c-checklist__link"
                          href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                      </p>
                    </details>
                  </div>
                  <div class="c-checklist__wrapper">
                    <div class="c-checklist__checkbox">
                      <input type="checkbox" name="use-plain-language" id="use-plain-language">
                        <label for="use-plain-language">
                          <span class="vh">Úkol: Má video, které obsahuje důležité vizuální informace, zvukový popis?</span>
                        </label>
                      </div>
                      <details
                        class="c-checklist"
                        data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                        <summary
                          id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                          class="c-checklist__summary">
                          <span class="c-checklist__summary-inner">
                            <svg
                              class="c-checklist__icon"
                              aria-hidden="true"
                              focusable="false"
                              height="30"
                              width="30"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 30 30">
                              <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                            </svg>
                            <span class="c-checklist__title">Má video, které obsahuje důležité vizuální informace, zvukový popis?</span>
                          </span>
                        </summary>
                        <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                          <a
                            class="u-text-transform-uppercase c-checklist__link"
                            href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                        </p>
                      </details>
                    </div>
                    <div class="c-checklist__wrapper">
                      <div class="c-checklist__checkbox">
                        <input type="checkbox" name="use-plain-language" id="use-plain-language">
                          <label for="use-plain-language">
                            <span class="vh">Úkol: Je veškerá struktura obsahu, která je sdělována vizuálně, dostupná pro asistenční technologie?</span>
                          </label>
                        </div>
                        <details
                          class="c-checklist"
                          data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                          <summary
                            id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                            class="c-checklist__summary">
                            <span class="c-checklist__summary-inner">
                              <svg
                                class="c-checklist__icon"
                                aria-hidden="true"
                                focusable="false"
                                height="30"
                                width="30"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 30 30">
                                <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                              </svg>
                              <span class="c-checklist__title">Je veškerá struktura obsahu, která je sdělována vizuálně, dostupná pro asistenční
                                technologie?</span>
                            </span>
                          </summary>
                          <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                            <a
                              class="u-text-transform-uppercase c-checklist__link"
                              href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                          </p>
                        </details>
                      </div>
                      <div class="c-checklist__wrapper">
                        <div class="c-checklist__checkbox">
                          <input type="checkbox" name="use-plain-language" id="use-plain-language">
                            <label for="use-plain-language">
                              <span class="vh">Úkol: Pokud je stylizace odstraněna, je obsah v logickém pořadí?</span>
                            </label>
                          </div>
                          <details
                            class="c-checklist"
                            data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                            <summary
                              id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                              class="c-checklist__summary">
                              <span class="c-checklist__summary-inner">
                                <svg
                                  class="c-checklist__icon"
                                  aria-hidden="true"
                                  focusable="false"
                                  height="30"
                                  width="30"
                                  xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 30 30">
                                  <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                </svg>
                                <span class="c-checklist__title">Pokud je stylizace odstraněna, je obsah v logickém pořadí?</span>
                              </span>
                            </summary>
                            <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                              <a
                                class="u-text-transform-uppercase c-checklist__link"
                                href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                            </p>
                          </details>
                        </div>
                        <div class="c-checklist__wrapper">
                          <div class="c-checklist__checkbox">
                            <input type="checkbox" name="use-plain-language" id="use-plain-language">
                              <label for="use-plain-language">
                                <span class="vh">Úkol: Vyhnuli jste se používání vizuálních charakteristik pro sdělování informací?</span>
                              </label>
                            </div>
                            <details
                              class="c-checklist"
                              data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                              <summary
                                id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                class="c-checklist__summary">
                                <span class="c-checklist__summary-inner">
                                  <svg
                                    class="c-checklist__icon"
                                    aria-hidden="true"
                                    focusable="false"
                                    height="30"
                                    width="30"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 30 30">
                                    <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                  </svg>
                                  <span class="c-checklist__title">Vyhnuli jste se používání vizuálních charakteristik pro sdělování informací?</span>
                                </span>
                              </summary>
                              <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                <a
                                  class="u-text-transform-uppercase c-checklist__link"
                                  href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                              </p>
                            </details>
                          </div>
                          <div class="c-checklist__wrapper">
                            <div class="c-checklist__checkbox">
                              <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                <label for="use-plain-language">
                                  <span class="vh">Úkol: Vyhnuli jste se používání barev jako jediného způsobu sdělování některých informací?</span>
                                </label>
                              </div>
                              <details
                                class="c-checklist"
                                data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                <summary
                                  id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                  class="c-checklist__summary">
                                  <span class="c-checklist__summary-inner">
                                    <svg
                                      class="c-checklist__icon"
                                      aria-hidden="true"
                                      focusable="false"
                                      height="30"
                                      width="30"
                                      xmlns="http://www.w3.org/2000/svg"
                                      viewBox="0 0 30 30">
                                      <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                    </svg>
                                    <span class="c-checklist__title">Vyhnuli jste se používání barev jako jediného způsobu sdělování některých informací?</span>
                                  </span>
                                </summary>
                                <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                  <a
                                    class="u-text-transform-uppercase c-checklist__link"
                                    href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                </p>
                              </details>
                            </div>
                            <div class="c-checklist__wrapper">
                              <div class="c-checklist__checkbox">
                                <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                  <label for="use-plain-language">
                                    <span class="vh">Úkol: Mohou uživatelé zastavit automaticky přehrávaný zvuk?</span>
                                  </label>
                                </div>
                                <details
                                  class="c-checklist"
                                  data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                  <summary
                                    id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                    class="c-checklist__summary">
                                    <span class="c-checklist__summary-inner">
                                      <svg
                                        class="c-checklist__icon"
                                        aria-hidden="true"
                                        focusable="false"
                                        height="30"
                                        width="30"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 30 30">
                                        <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                      </svg>
                                      <span class="c-checklist__title">Mohou uživatelé zastavit automaticky přehrávaný zvuk?</span>
                                    </span>
                                  </summary>
                                  <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                    <a
                                      class="u-text-transform-uppercase c-checklist__link"
                                      href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                  </p>
                                </details>
                              </div>
                              <div class="c-checklist__wrapper">
                                <div class="c-checklist__checkbox">
                                  <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                    <label for="use-plain-language">
                                      <span class="vh">Úkol: Je veškerý text dostatečně kontrastní vůči barvě pozadí?</span>
                                    </label>
                                  </div>
                                  <details
                                    class="c-checklist"
                                    data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                    <summary
                                      id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                      class="c-checklist__summary">
                                      <span class="c-checklist__summary-inner">
                                        <svg
                                          class="c-checklist__icon"
                                          aria-hidden="true"
                                          focusable="false"
                                          height="30"
                                          width="30"
                                          xmlns="http://www.w3.org/2000/svg"
                                          viewBox="0 0 30 30">
                                          <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                        </svg>
                                        <span class="c-checklist__title">Je veškerý text dostatečně kontrastní vůči barvě pozadí?</span>
                                      </span>
                                    </summary>
                                    <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                      <a
                                        class="u-text-transform-uppercase c-checklist__link"
                                        href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                    </p>
                                  </details>
                                </div>
                                <div class="c-checklist__wrapper">
                                  <div class="c-checklist__checkbox">
                                    <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                      <label for="use-plain-language">
                                        <span class="vh">Úkol: Je obsah plně použitelný při zvětšení textu až na 200 %?</span>
                                      </label>
                                    </div>
                                    <details
                                      class="c-checklist"
                                      data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                      <summary
                                        id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                        class="c-checklist__summary">
                                        <span class="c-checklist__summary-inner">
                                          <svg
                                            class="c-checklist__icon"
                                            aria-hidden="true"
                                            focusable="false"
                                            height="30"
                                            width="30"
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 30 30">
                                            <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                          </svg>
                                          <span class="c-checklist__title">Je obsah plně použitelný při zvětšení textu až na 200 %?</span>
                                        </span>
                                      </summary>
                                      <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                        <a
                                          class="u-text-transform-uppercase c-checklist__link"
                                          href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                      </p>
                                    </details>
                                  </div>
                                </div>
                                <h3>Ovladatelnost</h3>
                                <div class="c-card__wrapper">
                                  <div class="c-checklist__wrapper">
                                    <div class="c-checklist__checkbox">
                                      <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                        <label for="use-plain-language">
                                          <span class="vh">Úkol: Lze všechny nabídky, odkazy, tlačítka a další ovládací prvky ovládat pomocí klávesnice?</span>
                                        </label>
                                      </div>
                                      <details
                                        class="c-checklist"
                                        data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                        <summary
                                          id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                          class="c-checklist__summary">
                                          <span class="c-checklist__summary-inner">
                                            <svg
                                              class="c-checklist__icon"
                                              aria-hidden="true"
                                              focusable="false"
                                              height="30"
                                              width="30"
                                              xmlns="http://www.w3.org/2000/svg"
                                              viewBox="0 0 30 30">
                                              <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                            </svg>
                                            <span class="c-checklist__title">Lze všechny nabídky, odkazy, tlačítka a další ovládací prvky ovládat pomocí klávesnice?</span>
                                          </span>
                                        </summary>
                                        <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                          <a
                                            class="u-text-transform-uppercase c-checklist__link"
                                            href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                        </p>
                                      </details>
                                    </div>
                                    <div class="c-checklist__wrapper">
                                      <div class="c-checklist__checkbox">
                                        <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                          <label for="use-plain-language">
                                            <span class="vh">Úkol: Obsahují stránky, které mají časové limity, mechanismy pro úpravu těchto limitů?</span>
                                          </label>
                                        </div>
                                        <details
                                          class="c-checklist"
                                          data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                          <summary
                                            id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                            class="c-checklist__summary">
                                            <span class="c-checklist__summary-inner">
                                              <svg
                                                class="c-checklist__icon"
                                                aria-hidden="true"
                                                focusable="false"
                                                height="30"
                                                width="30"
                                                xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 30 30">
                                                <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                              </svg>
                                              <span class="c-checklist__title">Obsahují stránky, které mají časové limity, mechanismy pro úpravu těchto limitů?</span>
                                            </span>
                                          </summary>
                                          <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                            <a
                                              class="u-text-transform-uppercase c-checklist__link"
                                              href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                          </p>
                                        </details>
                                      </div>
                                      <div class="c-checklist__wrapper">
                                        <div class="c-checklist__checkbox">
                                          <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                            <label for="use-plain-language">
                                              <span class="vh">Úkol: Lze zastavit jakýkoli obsah, který se pohybuje nebo automaticky aktualizuje?</span>
                                            </label>
                                          </div>
                                          <details
                                            class="c-checklist"
                                            data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                            <summary
                                              id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                              class="c-checklist__summary">
                                              <span class="c-checklist__summary-inner">
                                                <svg
                                                  class="c-checklist__icon"
                                                  aria-hidden="true"
                                                  focusable="false"
                                                  height="30"
                                                  width="30"
                                                  xmlns="http://www.w3.org/2000/svg"
                                                  viewBox="0 0 30 30">
                                                  <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                                </svg>
                                                <span class="c-checklist__title">Lze zastavit jakýkoli obsah, který se pohybuje nebo automaticky aktualizuje?</span>
                                              </span>
                                            </summary>
                                            <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                              <a
                                                class="u-text-transform-uppercase c-checklist__link"
                                                href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                            </p>
                                          </details>
                                        </div>
                                        <div class="c-checklist__wrapper">
                                          <div class="c-checklist__checkbox">
                                            <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                              <label for="use-plain-language">
                                                <span class="vh">Úkol: Vyhnuli jste se používání obsahu, který bliká nebo problikává?</span>
                                              </label>
                                            </div>
                                            <details
                                              class="c-checklist"
                                              data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                              <summary
                                                id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                                class="c-checklist__summary">
                                                <span class="c-checklist__summary-inner">
                                                  <svg
                                                    class="c-checklist__icon"
                                                    aria-hidden="true"
                                                    focusable="false"
                                                    height="30"
                                                    width="30"
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 30 30">
                                                    <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                                  </svg>
                                                  <span class="c-checklist__title">Vyhnuli jste se používání obsahu, který bliká nebo problikává?</span>
                                                </span>
                                              </summary>
                                              <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                                <a
                                                  class="u-text-transform-uppercase c-checklist__link"
                                                  href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                              </p>
                                            </details>
                                          </div>
                                          <div class="c-checklist__wrapper">
                                            <div class="c-checklist__checkbox">
                                              <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                                <label for="use-plain-language">
                                                  <span class="vh">Úkol: Má každá stránka jedinečný název, který označuje její účel a kontext?</span>
                                                </label>
                                              </div>
                                              <details
                                                class="c-checklist"
                                                data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                                <summary
                                                  id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                                  class="c-checklist__summary">
                                                  <span class="c-checklist__summary-inner">
                                                    <svg
                                                      class="c-checklist__icon"
                                                      aria-hidden="true"
                                                      focusable="false"
                                                      height="30"
                                                      width="30"
                                                      xmlns="http://www.w3.org/2000/svg"
                                                      viewBox="0 0 30 30">
                                                      <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                                    </svg>
                                                    <span class="c-checklist__title">Má každá stránka jedinečný název, který označuje její účel a kontext?</span>
                                                  </span>
                                                </summary>
                                                <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                                  <a
                                                    class="u-text-transform-uppercase c-checklist__link"
                                                    href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                                </p>
                                              </details>
                                            </div>
                                            <div class="c-checklist__wrapper">
                                              <div class="c-checklist__checkbox">
                                                <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                                  <label for="use-plain-language">
                                                    <span class="vh">Úkol: Dává při pohybu po stránce pomocí klávesnice její pořadí smysl?</span>
                                                  </label>
                                                </div>
                                                <details
                                                  class="c-checklist"
                                                  data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                                  <summary
                                                    id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                                    class="c-checklist__summary">
                                                    <span class="c-checklist__summary-inner">
                                                      <svg
                                                        class="c-checklist__icon"
                                                        aria-hidden="true"
                                                        focusable="false"
                                                        height="30"
                                                        width="30"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 30 30">
                                                        <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                                      </svg>
                                                      <span class="c-checklist__title">Dává při pohybu po stránce pomocí klávesnice její pořadí smysl?</span>
                                                    </span>
                                                  </summary>
                                                  <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                                    <a
                                                      class="u-text-transform-uppercase c-checklist__link"
                                                      href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                                  </p>
                                                </details>
                                              </div>
                                              <div class="c-checklist__wrapper">
                                                <div class="c-checklist__checkbox">
                                                  <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                                    <label for="use-plain-language">
                                                      <span class="vh">Úkol: Je účel každého odkazu zřejmý z jeho textu?</span>
                                                    </label>
                                                  </div>
                                                  <details
                                                    class="c-checklist"
                                                    data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                                    <summary
                                                      id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                                      class="c-checklist__summary">
                                                      <span class="c-checklist__summary-inner">
                                                        <svg
                                                          class="c-checklist__icon"
                                                          aria-hidden="true"
                                                          focusable="false"
                                                          height="30"
                                                          width="30"
                                                          xmlns="http://www.w3.org/2000/svg"
                                                          viewBox="0 0 30 30">
                                                          <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                                        </svg>
                                                        <span class="c-checklist__title">Je účel každého odkazu zřejmý z jeho textu?</span>
                                                      </span>
                                                    </summary>
                                                    <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                                      <a
                                                        class="u-text-transform-uppercase c-checklist__link"
                                                        href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                                    </p>
                                                  </details>
                                                </div>
                                                <div class="c-checklist__wrapper">
                                                  <div class="c-checklist__checkbox">
                                                    <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                                      <label for="use-plain-language">
                                                        <span class="vh">Úkol: Jsou nadpisy a popisky jasné a popisné?</span>
                                                      </label>
                                                    </div>
                                                    <details
                                                      class="c-checklist"
                                                      data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                                      <summary
                                                        id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                                        class="c-checklist__summary">
                                                        <span class="c-checklist__summary-inner">
                                                          <svg
                                                            class="c-checklist__icon"
                                                            aria-hidden="true"
                                                            focusable="false"
                                                            height="30"
                                                            width="30"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            viewBox="0 0 30 30">
                                                            <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                                          </svg>
                                                          <span class="c-checklist__title">Jsou nadpisy a popisky jasné a popisné?</span>
                                                        </span>
                                                      </summary>
                                                      <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                                        <a
                                                          class="u-text-transform-uppercase c-checklist__link"
                                                          href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                                      </p>
                                                    </details>
                                                  </div>
                                                  <div class="c-checklist__wrapper">
                                                    <div class="c-checklist__checkbox">
                                                      <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                                        <label for="use-plain-language">
                                                          <span class="vh">Úkol: Lze při pohybu po stránce pomocí klávesnice určit, kde se nacházíte?</span>
                                                        </label>
                                                      </div>
                                                      <details
                                                        class="c-checklist"
                                                        data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                                        <summary
                                                          id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                                          class="c-checklist__summary">
                                                          <span class="c-checklist__summary-inner">
                                                            <svg
                                                              class="c-checklist__icon"
                                                              aria-hidden="true"
                                                              focusable="false"
                                                              height="30"
                                                              width="30"
                                                              xmlns="http://www.w3.org/2000/svg"
                                                              viewBox="0 0 30 30">
                                                              <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                                            </svg>
                                                            <span class="c-checklist__title">Lze při pohybu po stránce pomocí klávesnice určit, kde se nacházíte?</span>
                                                          </span>
                                                        </summary>
                                                        <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                                          <a
                                                            class="u-text-transform-uppercase c-checklist__link"
                                                            href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                                        </p>
                                                      </details>
                                                    </div>
                                                    <div class="c-checklist__wrapper">
                                                      <div class="c-checklist__checkbox">
                                                        <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                                          <label for="use-plain-language">
                                                            <span class="vh">Úkol: Máte zkratky spouštěné pouze jedním písmenem nebo znakem? Pokud ano, může je uživatel vypnout
                                                              nebo přemapovat?</span>
                                                          </label>
                                                        </div>
                                                        <details
                                                          class="c-checklist"
                                                          data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                                          <summary
                                                            id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                                            class="c-checklist__summary">
                                                            <span class="c-checklist__summary-inner">
                                                              <svg
                                                                class="c-checklist__icon"
                                                                aria-hidden="true"
                                                                focusable="false"
                                                                height="30"
                                                                width="30"
                                                                xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 0 30 30">
                                                                <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                                              </svg>
                                                              <span class="c-checklist__title">Máte zkratky spouštěné pouze jedním písmenem nebo znakem? Pokud ano, může je uživatel
                                                                vypnout nebo přemapovat?</span>
                                                            </span>
                                                          </summary>
                                                          <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                                            <a
                                                              class="u-text-transform-uppercase c-checklist__link"
                                                              href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                                          </p>
                                                        </details>
                                                      </div>
                                                      <div class="c-checklist__wrapper">
                                                        <div class="c-checklist__checkbox">
                                                          <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                                            <label for="use-plain-language">
                                                              <span class="vh">Úkol: Reaguje vaše stránka na gesto nebo pohyb? Pokud ano, lze reakci na pohyb nebo pohyb vypnout, a
                                                                přesto bude váš web plně použitelný?</span>
                                                            </label>
                                                          </div>
                                                          <details
                                                            class="c-checklist"
                                                            data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                                            <summary
                                                              id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                                              class="c-checklist__summary">
                                                              <span class="c-checklist__summary-inner">
                                                                <svg
                                                                  class="c-checklist__icon"
                                                                  aria-hidden="true"
                                                                  focusable="false"
                                                                  height="30"
                                                                  width="30"
                                                                  xmlns="http://www.w3.org/2000/svg"
                                                                  viewBox="0 0 30 30">
                                                                  <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                                                </svg>
                                                                <span class="c-checklist__title">Reaguje vaše gesto na pohyb nebo pohyb? Pokud ano, lze reakci na pohyb nebo pohyb
                                                                  vypnout, a přesto bude váš web plně použitelný?</span>
                                                              </span>
                                                            </summary>
                                                            <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                                              <a
                                                                class="u-text-transform-uppercase c-checklist__link"
                                                                href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                                            </p>
                                                          </details>
                                                        </div>
                                                      </div>
                                                      <h3>Srozumitelnost</h3>
                                                      <div class="c-card__wrapper">
                                                        <div class="c-checklist__wrapper">
                                                          <div class="c-checklist__checkbox">
                                                            <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                                              <label for="use-plain-language">
                                                                <span class="vh">Úkol: Byl definován jazyk webové stránky nebo dokumentu (nebo jednotlivých částí vícejazyčného
                                                                  dokumentu)?</span>
                                                              </label>
                                                            </div>
                                                            <details
                                                              class="c-checklist"
                                                              data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                                              <summary
                                                                id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                                                class="c-checklist__summary">
                                                                <span class="c-checklist__summary-inner">
                                                                  <svg
                                                                    class="c-checklist__icon"
                                                                    aria-hidden="true"
                                                                    focusable="false"
                                                                    height="30"
                                                                    width="30"
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    viewBox="0 0 30 30">
                                                                    <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                                                  </svg>
                                                                  <span class="c-checklist__title">Byl definován jazyk webové stránky nebo dokumentu (nebo jednotlivých částí
                                                                    vícejazyčného dokumentu)?</span>
                                                                </span>
                                                              </summary>
                                                              <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                                                <a
                                                                  class="u-text-transform-uppercase c-checklist__link"
                                                                  href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                                              </p>
                                                            </details>
                                                          </div>
                                                          <div class="c-checklist__wrapper">
                                                            <div class="c-checklist__checkbox">
                                                              <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                                                <label for="use-plain-language">
                                                                  <span class="vh">Úkol: Obsahuje webová stránka konzistentní navigaci?</span>
                                                                </label>
                                                              </div>
                                                              <details
                                                                class="c-checklist"
                                                                data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                                                <summary
                                                                  id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                                                  class="c-checklist__summary">
                                                                  <span class="c-checklist__summary-inner">
                                                                    <svg
                                                                      class="c-checklist__icon"
                                                                      aria-hidden="true"
                                                                      focusable="false"
                                                                      height="30"
                                                                      width="30"
                                                                      xmlns="http://www.w3.org/2000/svg"
                                                                      viewBox="0 0 30 30">
                                                                      <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                                                    </svg>
                                                                    <span class="c-checklist__title">Obsahuje webová stránka konzistentní navigaci?</span>
                                                                  </span>
                                                                </summary>
                                                                <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                                                  <a
                                                                    class="u-text-transform-uppercase c-checklist__link"
                                                                    href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                                                </p>
                                                              </details>
                                                            </div>
                                                            <div class="c-checklist__wrapper">
                                                              <div class="c-checklist__checkbox">
                                                                <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                                                  <label for="use-plain-language">
                                                                    <span class="vh">Úkol: Jsou funkce se stejnou funkčností konzistentně označeny?</span>
                                                                  </label>
                                                                </div>
                                                                <details
                                                                  class="c-checklist"
                                                                  data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                                                  <summary
                                                                    id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                                                    class="c-checklist__summary">
                                                                    <span class="c-checklist__summary-inner">
                                                                      <svg
                                                                        class="c-checklist__icon"
                                                                        aria-hidden="true"
                                                                        focusable="false"
                                                                        height="30"
                                                                        width="30"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                        viewBox="0 0 30 30">
                                                                        <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                                                      </svg>
                                                                      <span class="c-checklist__title">Jsou funkce se stejnou funkčností konzistentně označeny?</span>
                                                                    </span>
                                                                  </summary>
                                                                  <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                                                    <a
                                                                      class="u-text-transform-uppercase c-checklist__link"
                                                                      href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                                                  </p>
                                                                </details>
                                                              </div>
                                                              <div class="c-checklist__wrapper">
                                                                <div class="c-checklist__checkbox">
                                                                  <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                                                    <label for="use-plain-language">
                                                                      <span class="vh">Úkol: Poskytují formuláře nápomocná a srozumitelná chybové a ověřovací hlášky/zprávy?</span>
                                                                    </label>
                                                                  </div>
                                                                  <details
                                                                    class="c-checklist"
                                                                    data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                                                    <summary
                                                                      id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                                                      class="c-checklist__summary">
                                                                      <span class="c-checklist__summary-inner">
                                                                        <svg
                                                                          class="c-checklist__icon"
                                                                          aria-hidden="true"
                                                                          focusable="false"
                                                                          height="30"
                                                                          width="30"
                                                                          xmlns="http://www.w3.org/2000/svg"
                                                                          viewBox="0 0 30 30">
                                                                          <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                                                        </svg>
                                                                        <span class="c-checklist__title">Poskytují formuláře nápomocná a srozumitelná chybové a ověřovací hlášky/zprávy?</span>
                                                                      </span>
                                                                    </summary>
                                                                    <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                                                      <a
                                                                        class="u-text-transform-uppercase c-checklist__link"
                                                                        href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                                                    </p>
                                                                  </details>
                                                                </div>
                                                              </div>
                                                              <h3>Stabilita/Robustnost</h3>
                                                              <div class="c-card__wrapper">
                                                                <div class="c-checklist__wrapper">
                                                                  <div class="c-checklist__checkbox">
                                                                    <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                                                      <label for="use-plain-language">
                                                                        <span class="vh">Úkol: Je webová stránka kódována pomocí platného jazyka HTML?</span>
                                                                      </label>
                                                                    </div>
                                                                    <details
                                                                      class="c-checklist"
                                                                      data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                                                      <summary
                                                                        id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                                                        class="c-checklist__summary">
                                                                        <span class="c-checklist__summary-inner">
                                                                          <svg
                                                                            class="c-checklist__icon"
                                                                            aria-hidden="true"
                                                                            focusable="false"
                                                                            height="30"
                                                                            width="30"
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            viewBox="0 0 30 30">
                                                                            <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                                                          </svg>
                                                                          <span class="c-checklist__title">Je webová stránka kódována pomocí platného jazyka HTML?</span>
                                                                        </span>
                                                                      </summary>
                                                                      <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                                                        <a
                                                                          class="u-text-transform-uppercase c-checklist__link"
                                                                          href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                                                      </p>
                                                                    </details>
                                                                  </div>
                                                                  <div class="c-checklist__wrapper">
                                                                    <div class="c-checklist__checkbox">
                                                                      <input type="checkbox" name="use-plain-language" id="use-plain-language">
                                                                        <label for="use-plain-language">
                                                                          <span class="vh">Úkol: Mají všechny interaktivní komponenty přístupný název a roli a v případě potřeby i stav? Bylo
                                                                            použito správné značení ARIA a je validní?</span>
                                                                        </label>
                                                                      </div>
                                                                      <details
                                                                        class="c-checklist"
                                                                        data-checklist-item-id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors">
                                                                        <summary
                                                                          id="use-plain-language-and-avoid-figures-of-speech-idioms-and-complicated-metaphors"
                                                                          class="c-checklist__summary">
                                                                          <span class="c-checklist__summary-inner">
                                                                            <svg
                                                                              class="c-checklist__icon"
                                                                              aria-hidden="true"
                                                                              focusable="false"
                                                                              height="30"
                                                                              width="30"
                                                                              xmlns="http://www.w3.org/2000/svg"
                                                                              viewBox="0 0 30 30">
                                                                              <path d="M9.07,29.55l-2.15-2.1L19,15,6.92,2.55,9.07.45,23.23,15Z"></path>
                                                                            </svg>
                                                                            <span class="c-checklist__title">Mají všechny interaktivní komponenty přístupný název a roli a v případě potřeby i stav?
                                                                              Bylo použito správné značení ARIA a je validní?</span>
                                                                          </span>
                                                                        </summary>
                                                                        <p class="c-checklist__citation">Naplňuje kritérium úspěšnosti
                                                                          <a
                                                                            class="u-text-transform-uppercase c-checklist__link"
                                                                            href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-supplements.html">3.1.5 Reading Level</a>
                                                                        </p>
                                                                      </details>
                                                                    </div>
                                                                  </div>
                                                                </section>
                                                                <section>
                                                                  <h2>Nejčastější chyby dodavatelů</h2>
                                                                  <p>Pokud kontrolu děláte sami a kontrolujete web nebo aplikaci dodanou třetí stranou, zaměřte se především na:</p>
                                                                  <ul>
                                                                    <li>nízký barevný kontrast hlavního textu pod 4,5:1 vůči pozadí stránky</li>
                                                                    <li>vstupní pole formulářů nemají přiřazené odpovídající popisy (labely)</li>
                                                                    <li>nepoužitelnost webu nebo aplikace při vypnutí CSS</li>
                                                                    <li>stránka neobsahuje ARIA landmarks</li>
                                                                    <li>několik h1 elementů na stránce a nesestupující pořadí nadpisů na stránce</li>
                                                                    <li>atribut lang je nastaven na "en"</li>
                                                                    <li>prázdné odkazy, pokud je odkaz ikonka</li>
                                                                  </ul>
                                                                </section>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>