---
layout: layouts/base.njk
section: prohlaseni
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}
<div class="w-container">
  <div class="position-relative"><img src="https://uploads-ssl.webflow.com/61a898d0b11c4da16f8513ee/61bc8ac11638a909d8d22ed4_Gov-materials-info.svg" loading="lazy" alt="Ikona info" class="block-quote-icon"><img src="https://uploads-ssl.webflow.com/61a898d0b11c4da16f8513ee/61aa3d2c61dacb06a93d0b9d_Gov-materials-external.svg" loading="lazy" alt="Externí odkaz" class="absolute-indent-icon _350-px"><blockquote class="left-padding-40px"><a href="#">Seznam soudních tlumočníků a překladatelů</a></blockquote></div>
</div>

