---
layout: layouts/base.njk
section: prohlaseni
---
<header class="intro-header">
  <div class="intro-content w-container">
  </div>
</header>


<div class="w-container">
  
    {{ layoutContent | safe }}
    
</div>