---
layout: layouts/base.njk
section: prohlaseni
---

<h1> {{ title }}</h1>
<div class="section wf-section">
  <div class="container bg-white document-page-content w-container">
    <div class="vertical-divider"></div>
    
    {{ layoutContent | safe }}
    
  </div>
</div>