---
layout: layouts/base.njk
section: prohlaseni
---

<header class="intro-header">
  <div class="intro-content w-container">
    <div class="intro-content w-container">
      <div class="horizontal-layout hp-layout">
        <div class="msp-grid-row">
          <div class="msp-grid-column-full">
            <ul>
              <li>
                <a href="/">Domů</a>
              </li>
            </ul>
            <h1 class="heading-1 w-col-10">
              Co dělat a nedělat, když tvoříme něco přístupného
            </h1>
            <p>Šest různých plakátů, které vám pomohou pochopit přístupnost a jak tvořit přístupné věci.</p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="w-container">
    <div class="horizontal-layout hp-layout">
      <div class="msp-grid-row">
        <div class="msp-grid-column-two-thirds">
          <section>
            <p>
              <a href="https://raw.githubusercontent.com/UKHomeOffice/posters/e4a34da26bb97f7556676c15da6ee8bfe3626298/accessibility/dos-donts/posters_cz/accessibilty-posters-set_cz.pdf">
              Stáhnout všechny plakáty (PDF)</a>
            </p>
            <h2>Plakáty Co dělat a nedělat</h2>
            <p>Plakáty Co dělat a nedělat při tvoření něčeho přístupného jsou obecnými pokyny, osvědčenými postupy pro navrhování
              přístupných služeb ve státní správě. V současné době je v sérii šest různých plakátů, které jsou určeny uživatelům z
              těchto oblastí: slabozrací, neslyšící a nedoslýchaví, dyslektici, pohybově postižení, uživatelé z autistického spektra a
              uživatelé čítaček obrazovky.</p>
            <p>
              <img
                class="alignnone size-large wp-image-1922"
                src="https://github.com/hlavsa/skoleni-pristupnosti/blob/master/static/img/plakaty.png?raw=true"
                alt="Výstřižek dvou plakátů."
                width="620"
                height="390"
                srcset="https://github.com/hlavsa/skoleni-pristupnosti/blob/master/static/img/plakaty.png?raw=true
                                620w"
                sizes="(max-width: 620px) 100vw, 620px"></p>
            </section>
            <section>
              <h2>Co plakáty říkají</h2>
              <p>Například při tvoření nového pro uživatele, kteří jsou na autistickém spektru:</p>
              <p>Co dělat:</p>
              <ul>
                <li>používejte jednoduché barvy</li>
                <li>pište srozumitelnou češtinou</li>
                <li>používejte jednoduché věty a odrážky</li>
                <li>tlačítka jsou popisná – například Přiložit soubory</li>
                <li>rozložení textu na stránce je jednoduché a konzistentní</li>
              </ul>
              <p>Co nedělat:</p>
              <ul>
                <li>nepoužívejte výrazné kontrastní barvy</li>
                <li>používejte řečnické obraty a idiomy</li>
                <li>netvořte dlouhé texty bez odstavců nebo odrážek</li>
                <li>vytvářejte neurčitá a nepředvídatelná tlačítka - například: Klikněte zde.</li>
                <li>vytvářejte složité a nepřehledné rozvržení</li>
              </ul>
              <p>
                <a href="https://raw.githubusercontent.com/UKHomeOffice/posters/e4a34da26bb97f7556676c15da6ee8bfe3626298/accessibility/dos-donts/posters_cz/accessibilty-posters-set_cz.pdf">
                Stáhnout všechny plakáty (PDF)</a>
              </p>
            </section>
            <section>
              <h2>Jak plakáty vznikaly</h2>
              <p>Karwai Pun je designérka pracující v britské obdobě Ministerstva vnitra ČR, Home Office. Karwai je součástí skupiny
                pro přístupnost v Home Office Digital, která se zabývá autismem. Společně s týmem vytvořila tyto plakáty "dos and don't"
                jako způsob, jak přistupovat k přístupnosti z hlediska designu.</p>
            </section>
          </div>
        </div>
      </div>