---
layout: layouts/base.njk
section: prohlaseni
---

<header class="intro-header">
  <div class="intro-content w-container">
    <div class="intro-content w-container">
      <div class="horizontal-layout hp-layout">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <ul>
              <li>
                <a href="/">Domů</a>
              </li>
            </ul>
            <h1 class="heading-1 w-col-10">
              Porozumění požadavkům na přístupnost pro orgány veřejné správy
            </h1>
            <p>Pomozte ostatním pochopit, proč musí splňovat zákon o přístupnosti webových stránek a mobilních aplikací.</p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="w-container">
    <div class="horizontal-layout hp-layout">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <section>
            <h2>Pochopení přístupnosti</h2>
            <p>Zpřístupnit webové stránky nebo mobilní aplikaci znamená zajistit, aby je mohlo používat co nejvíce lidí.</p>
            <p>To zahrnuje osoby s:</p>
            <ul>
              <li>poruchami zraku</li>
              <li>pohybovými potížemi</li>
              <li>kognitivními poruchami nebo poruchami učení</li>
              <li>hluchotou nebo zhoršeným sluchem</li>
            </ul>
            <p>Nejméně 1 z 9 lidí ve České republice trpí dlouhodobou nemocí, pracovní neschopností nebo zdravotním postižením.
              Mnohem více lidí má dočasné postižení.</p>
            <p>Přístupnost znamená víc než jen umístění věcí na internet. Znamená to, že váš obsah a design jsou dostatečně jasné a
              jednoduché, aby je většina lidí mohla používat, aniž by si je musela přizpůsobovat, a zároveň podporuje ty, kteří si
              věci přizpůsobit musí.</p>
            <p>Někdo se zhoršeným zrakem může například používat čtečku obrazovky (software, který umožňuje uživateli procházet
              webové stránky a "číst" obsah), braillský displej nebo lupu na obrazovce. Nebo někdo s motorickými obtížemi může
              používat speciální myš, software pro rozpoznávání řeči nebo emulátor klávesnice na obrazovce.</p>
          </section>
          <section>
            <h2>Proč je důležité zpřístupnit webové stránky nebo mobilní aplikaci pro veřejný sektor</h2>
            <p>Lidé nemusí mít při používání webových stránek nebo mobilní aplikace veřejného sektoru na výběr, proto je důležité,
              aby fungovaly pro všechny. Lidé, kteří je nejvíce potřebují, je často považují za nejobtížněji použitelné.</p>
            <p>Přístupné webové stránky obvykle fungují lépe pro všechny. Často jsou rychlejší, snadněji se používají a zobrazují se
              výše v žebříčcích vyhledávačů.</p>
            <p>Většina webových stránek a mobilních aplikací veřejného sektoru v současné době nesplňuje požadavky na přístupnost.</p>
            <p>Mezi nejčastější problémy patří webové stránky, které nejsou snadno použitelné na mobilním telefonu nebo se na nich
              nedá pohybovat pomocí klávesnice, nepřístupné formuláře ve formátu PDF, které nelze přečíst na čtečkách obrazovky, a
              špatný barevný kontrast, který znesnadňuje čtení textu – zejména pro osoby se zrakovým postižením.</p>
            <p>Pokud vaše webové stránky nebo mobilní aplikace pro veřejný sektor nesplňují požadavky na přístupnost, můžete
              porušovat zákon.</p>
          </section>
          <section>
            <h2>Splnění požadavků na přístupnost</h2>
            <p>Nařízení o přístupnosti vstoupila v platnost pro subjekty veřejného sektoru 9. dubna 2019. Podle nich musíte své
              webové stránky nebo mobilní aplikaci zpřístupnit tak, aby byly "vnímatelné, ovladatelné, srozumitelné a robustní". Na
              svých webových stránkách musíte uvést a aktualizovat prohlášení o přístupnosti.</p>
            <p>Zákon o přístupnosti internetových stránek a mobilních aplikací a o změně zákona č. 365/2000 Sb., o informačních
              systémech veřejné správy a o změně některých dalších zákonů, ve znění pozdějších předpisů.</p>
            <p>Předpisy o přístupnosti navazují na stávající povinnosti vůči osobám se zdravotním postižením podle vyhlášky o
              přístupnosti z roku 2008.</p>
            <p>Na intranetové a extranetové webové stránky se předpisy o přístupnosti nevztahují. Přesto byste je měli zpřístupnit,
              protože se jedná o interní webové stránky, které mohou používat zdravotně postižení zaměstnanci pracující ve veřejném
              sektoru nebo s ním spolupracující.</p>
            <p>Vaše webové stránky nebo mobilní aplikace budou splňovat novější právní požadavky, pokud:</p>
            <ul>
              <li>splňují mezinárodní standard přístupnosti WCAG 2.1 AA – ačkoli mohou existovat oprávněné právní důvody pro nesplnění
                standardů přístupnosti</li>
              <li>zveřejníte prohlášení o přístupnosti, které vysvětluje, jak jsou vaše webové stránky nebo mobilní aplikace přístupné</li>
            </ul>
            <p>Nejlépe uděláte, když požádáte svoje informatiky, aby zkontroloval, do jaké míry vaše webové stránky nebo mobilní
              aplikace v současné době splňují normu WCAG 2.1 a kde jsou problémy. Poté vypracujte plán na odstranění zjištěných
              problémů. Váš webový tým by měl použít průvodce zpřístupněním webových stránek a zveřejněním prohlášení o přístupnosti.</p>
          </section>
          <section>
            <h2>Kdo musí splňovat nařízení o přístupnosti z roku 2019</h2>
            <p>Požadavky z roku 2019 musí splňovat všechny subjekty veřejného sektoru, pokud nejsou vyňaty z jejich působnosti.</p>
            <p>Mezi subjekty veřejného sektoru patří např:</p>
            <ul>
              <li>organizace ústřední státní správy a místní samosprávy</li>
              <li>některé charitativní a jiné nevládní organizace</li>
            </ul>
          </section>
          <section>
            <h2>Kdy může být dodržování předpisů o přístupnosti "nepřiměřenou zátěží".
            </h2>
            <p>Na některé organizace se výjimka nevztahuje, ale nemusí plně splňovat normy přístupnosti. Je tomu tak v případě, že
              dopad úplného splnění požadavků je pro organizaci příliš velký, než aby se s ním mohla přiměřeně vyrovnat. Předpisy o
              přístupnosti to nazývají "nepřiměřenou zátěží".
            </p>
            <p>O nepřiměřené zátěži je třeba uvažovat v kontextu toho, co je rozumné udělat právě teď. Pokud se vaše okolnosti
              změní, budete muset přezkoumat, zda je něco stále nepřiměřenou zátěží.
            </p>
            <p>Pokud chcete prohlásit, že zpřístupnění určitých věcí je nepřiměřenou zátěží, musíte ze zákona provést posouzení. Při
              posuzování zhruba zvážíte:
            </p>
            <ul>
              <li>zátěž, kterou zpřístupnění těchto věcí představuje pro vaši organizaci</li>
              <li>přínosy zpřístupnění těchto věcí</li>
            </ul>
            <p>Při posuzování je třeba myslet na:</p>
            <ul>
              <li>velikost a zdroje vaší organizace
              </li>
              <li>povahu vaší organizace (máte například služby zaměřené na osoby, u nichž je pravděpodobné, že mají zdravotní
                postižení?)
              </li>
              <li>kolik by zpřístupnění věcí stálo a jaký by to mělo dopad na vaši organizaci
              </li>
              <li>jaký prospěch by z vašeho zpřístupnění měli uživatelé se zdravotním postižením</li>
            </ul>
            <p>Možná usoudíte, že přínos zpřístupnění některých věcí by neospravedlnil náklady vaší organizace. V takovém případě
              můžete tvrdit, že by pro vás nebylo přiměřené tyto věci zpřístupnit, protože by to byla nepřiměřená zátěž.</p>
            <p>Při posuzování nemůžete brát v úvahu takové věci, jako je nedostatek času nebo znalostí - nebo tvrdit, že
              zpřístupnění věcí je nepřiměřenou zátěží, protože jste mu nedali přednost.
            </p>
            <h3>Příklad 1</h3>
            <p>Mohli byste argumentovat, že splnění všech požadavků je nepřiměřenou zátěží, pokud by to spotřebovalo většinu
              rozpočtu vaší organizace na daný rok a znemožnilo by vám to vykonávat jinou práci - a nezlepšilo by to výrazně situaci
              pro uživatele se zdravotním postižením.
            </p>
            <h3>Příklad 1</h3>
            <p>Jednoduchá změna kódu, která zlepší barevný kontrast vašich webových stránek nebo aplikací, je relativně levná a
              zlepšila by situaci pro mnoho lidí se zrakovým postižením. Možná nebudete moci argumentovat, že tato změna představuje
              nepřiměřenou zátěž.
            </p>
            <p>Pokud se rozhodnete, že oprava něčeho by byla nepřiměřenou zátěží, budete to muset uvést v prohlášení o přístupnosti,
              které zveřejníte na svých webových stránkách nebo v mobilní aplikaci.</p>
          </section>
          <section>
            <h2>Věci, které nemusíte opravovat</h2>
            <p>Nemusíte opravovat následující typy obsahu, protože se na ně nevztahují předpisy o přístupnosti.</p>
            <ul>
              <li>předem nahrané audio a video zveřejněné před 9. dubnem 2019</li>
              <li>živé audio a video</li>
              <li>sbírky kulturního dědictví, jako jsou naskenované rukopisy</li>
              <li>soubory PDF nebo jiné dokumenty zveřejněné před 9. dubnem 2019 - pokud je uživatelé nepotřebují k používání služby,
                například formuláře umožňujícího požádat o preference školního stravování</li>
              <li>mapy - budete však muset poskytnout základní informace v přístupném formátu, například adresu
              </li>
              <li>obsah třetích stran, který je pod kontrolou někoho jiného, pokud jste za něj nezaplatili nebo ho sami nevyvinuli -
                například tlačítka "To se mi líbí" na sociálních sítích.
              </li>
              <li>archivované webové stránky, pokud nejsou potřebné pro služby, které vaše organizace poskytuje, a nejsou aktualizovány
              </li>
            </ul>
            <p>Ve svém prohlášení o přístupnosti budete muset vysvětlit, že jste takové věci nezpřístupnili, protože jsou vyňaty.
            </p>
          </section>
          <section>
            <h2>Kdy musíte tyto předpisy splnit</h2>
            <p>Existují různé lhůty v závislosti na typu obsahu, který spravujete.</p>
            <h3>Nové webové stránky
            </h3>
            <p>Pokud jste vytvořili nové webové stránky veřejného sektoru 9. dubna 2019 nebo později, musíte splňovat standardy
              přístupnosti a měli jste zveřejnit prohlášení o přístupnosti. Prohlášení musíte pravidelně kontrolovat a aktualizovat.
            </p>
            <p>Kromě toho, že to pomůže každému, kdo bude chtít vaše webové stránky používat, vám myšlenka na přístupnost předem
              ušetří peníze a čas. Je to levnější a rychlejší než opravovat problémy, jakmile je něco vytvořeno.
            </p>
            <p>Když vytváříte nový web, můžete si vybrat software a používat postupy, které přístupnost zabudují do toho, co děláte.
            </p>
            <h3>Stávající webové stránky</h3>
            <p>Musíte splňovat standardy přístupnosti a zveřejnit prohlášení o přístupnosti. Prohlášení musíte pravidelně
              kontrolovat a aktualizovat.
            </p>
            <p>Požadavky nemusíte splňovat pro celý web nebo aplikaci, pokud by to pro vás bylo nepřiměřenou zátěží - například
              pokud je provedení i jednoduchých změn velmi nákladné a tyto změny by přinesly velmi omezený užitek pro osoby se
              zdravotním postižením.
            </p>
            <p>Pokud si nejste jisti, co by ve vaší situaci bylo nepřiměřené, poraďte se se svým odborním na legislativu.
            </p>
            <h3>Mobilní aplikace</h3>
            <p>Pro mobilní aplikace veřejného sektoru platí předpisy o přístupnosti. Aplikace musí být přístupné a musí zveřejňovat
              prohlášení o přístupnosti.
            </p>
          </section>
          <section>
            <h2>Jak budou předpisy o přístupnosti sledovány a prosazovány</h2>
            <p>Dodržování předpisů ze strany orgánů veřejného sektoru sleduje z pověření úřadu vlády odbor eGovernmentu (OE) Ministerstva vnitra.</p>
            <p>OE to provádí tak, že každoročně prověřuje vzorek webových stránek a mobilních aplikací
            veřejného sektoru.</p>
            <p>OE si může vyžádat informace a přístup aplikacím nebo jakýmkoli webovým
            stránkám veřejného sektoru.</p>
            <p>Orgány veřejného sektoru musí zveřejnit prohlášení o přístupnosti a
            pravidelně je revidovat. Pokud OE rozhodne, že subjekt veřejného sektoru nezveřejnil prohlášení o přístupnosti nebo že
            prohlášení o přístupnosti je nesprávné, zveřejní je.</p>
            <h3>Jak mohou uživatelé nahlásit problém</h3>
            <p>Pokud uživatel zjistí na webových stránkách nebo v mobilní aplikaci orgánu
            veřejného sektoru problém s přístupností, měl by se na něj nejprve obrátit na organizaci veřejného sektoru, a to
            prostřednictvím kontaktních údajů uvedených v prohlášení orgánu o přístupnosti.</p>
            <p>Orgán veřejného sektoru musí na stížnost uživatele odpovědět v přiměřené lhůtě. Pokud uživatel není s obdrženou odpovědí spokojen, může se obrátit na soud.</p>
            </section>
            <section>
            <h2>Mohlo by vás zajímat</h2>
            <p>
              <a href="https://www.mvcr.cz/soubor/metodicky-pokyn-pristupnost-internetovych-stranek-a-mobilnich-aplikaci-pdf.aspx">
              Metodický pokyn - přístupnost internetových stránek a mobilních aplikací</a> (PDF, 1,2 MB)</p>
            <p>
              <a href="https://www.zakonyprolidi.cz/cs/2019-99">Zákon o přístupnosti internetových stránek a mobilních aplikací</a>
            </p>
            <p>
              <a href="https://www.czso.cz/csu/czso/vyberove-setreni-osob-se-zdravotnim-postizenim-2018">Výběrové šetření osob se
                zdravotním postižením – 2018
              </a>
            </p>
          </section>
        </div>
      </div>
    </div>