---
layout: layouts/base.njk
section: prohlaseni
---

<header class="intro-header">
  <div class="intro-content w-container"><div class="intro-content w-container">
    <div class="horizontal-layout hp-layout">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
    <ul>
      <li><a href="/">Domů</a></li>
      </ul>

    <h1 class="heading-1 w-col-10">
      Ukázka prohlášení o přístupnosti
    </h1>
  </div>
      </div>
    </div>
  </div>
</header>
<div class="w-container">
  <div class="horizontal-layout hp-layout">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p>Toto je vzorové prohlášení o přístupnosti pro fiktivní webové stránky veřejného sektoru. Obsahuje vzorové znění a
          pokyny, co do prohlášení zahrnout.</p>
        <blockquote>
          <p>[Poznámka: pokud se výpis týká aplikace, uveďte "mobilní aplikace" místo "webová stránka".
          </p>
          <p>V případě webových stránek uveřejněte výpis jako běžnou stránku HTML. Ujistěte se, že je na něj odkazováno z domovské
            stránky nebo z každé jiné stránky webu na viditelném místě, například v zápatí webu. U mobilních aplikací uveďte
            prohlášení v obchodě s aplikacemi, na svých webových stránkách nebo na obou místech. Ujistěte se, že je v přístupném
            formátu, který může používat každý].</p>
        </blockquote>
        <section>
          <h2>Prohlášení o přístupnosti pro [název webové stránky]</h2>
          <p>Obec Vzorová Lhota se zavazuje ke zpřístupnění obsahu svých internetových stránek v souladu se zákonem č. 99/2019
            Sb., o přístupnosti internetových stránek a mobilních aplikací a o změně zákona č. 365/2000 Sb., o informačních
            systémech veřejné správy a o změně některých dalších zákonů, ve znění pozdějších předpisů, které provádějí směrnici
            Evropského parlamentu a Rady (EU) 2016/2102.</p>
          <p>Toto prohlášení o přístupnosti se vztahuje na [rozsah prohlášení, např. webové stránky nebo doménu, na kterou se
            prohlášení vztahuje].</p>
          <blockquote>
            <p>[Poznámka: tuto část použijte ke stručnému a obecnému popisu toho, co webové stránky umožňují uživatelům se
              zdravotním postižením. Vycházejte z hodnocení, které je podrobně popsáno v části "Technické informace o přístupnosti
              této webové stránky". Pokud si nejste jisti, že je něco přesné, vynechejte to. Pokud si nejste dostatečně jisti, abyste
              zde uvedli něco konkrétního, vynechejte tuto část úplně].</p>
          </blockquote>
          <p>Tyto webové stránky provozuje [název organizace]. Chceme, aby tyto webové stránky mohlo používat co nejvíce lidí. To
            znamená, že byste měli mít možnost například:</p>
          <ul>
            <li>změnit úrovně kontrastu a písma</li>
            <li>zvětšovat text až na 300 %, aniž by se text rozsypal po obrazovce</li>
            <li>procházet většinu webových stránek pouze pomocí klávesnice</li>
            <li>procházet většinu webových stránek pomocí softwaru pro rozpoznávání řeči</li>
            <li>poslouchat většinu webových stránek pomocí čítačky obrazovky (včetně nejnovějších verzí JAWS, NVDA a VoiceOver).</li>
          </ul>
          <p>Také jsme se snažili, aby byl text webových stránek co nejjednodušší k pochopení.</p>
        </section>
        <section>
          <h2>Jak přístupná tato stránka je</h2>
          <blockquote>
            <p>[Poznámka: tento oddíl použijte k poskytnutí informací, na základě kterých může postižený uživatel jednat - například
              vyhnout se určité části webu nebo požádat o alternativní verzi, místo aby ztrácel čas snahou o její zprovoznění pomocí
              asistenční technologie. Pokuste se je uvést v pořadí od nejvýznamnějšího po nejmenší dopad].</p>
          </blockquote>
          <p>Víme, že některé části těchto webových stránek nejsou plně přístupné:</p>
          <ul>
            <li>text se při změně velikosti okna prohlížeče nepřekreslí do jednoho sloupce</li>
            <li>nelze měnit výšku řádků nebo rozestupy mezi nimi</li>
            <li>většina starších dokumentů PDF není plně přístupná softwaru pro čtení obrazovky</li>
            <li>živé videopřenosy nejsou opatřeny titulky</li>
            <li>některé naše online formuláře jsou obtížně ovladatelné pouze pomocí klávesnice</li>
            <li>při použití čítačky obrazovky nelze přejít na hlavní obsah</li>
            <li>je omezeno, jak moc lze zvětšit mapu na naší stránce "kontaktujte nás"</li>
          </ul>
        </section>
        <section>
          <h2>Nepřístupný obsah</h2>
          <blockquote>
            <p>[Poznámka: pokud je webová stránka plně v souladu s normou WCAG 2.1 AA, můžete část "Nepřístupný obsah" vynechat.</p>
            <p>V opačném případě neměňte nadpis "Nepřístupný obsah" ani větu "Níže uvedený obsah není přístupný z následujících
              důvodů" - jsou vyžadovány zákonem.>
            </blockquote>
            <p>Níže uvedený obsah je nepřístupný z následujících důvodů.</p>
          </section>
          <section>
            <h2>Vypracování tohoto prohlášení o přístupnosti</h2>
            <p>Toto prohlášení bylo vypracováno dne [datum].</p>
            <p>Prohlášení bylo vypracováno posouzením provedeným [interní kontrolou nebo třetí stranou]. Zpracovatelem těchto
              internetových stránek [název nebo jméno].</p>
            <p>Při posuzování se sledovala shoda s kritérii uvedenými v Metodickém pokynu k zákonu č. 99/2019 Sb., ve znění
              pozdějších předpisů a standardu Web Content Accessibility Guidelines – WCAG 2.1.</p>
          </section>
          <section>
            <h2>Zpětná vazba a kontaktní údaje</h2>
            <p>Vaše náměty či informace o problémech při zobrazování stránek, stejně jako dotazy, návrhy nebo připomínky týkající se
              obsahu webu či důvodného podezření, že webová stránka nesplňuje požadavky zákona č. 99/2019 Sb., ve znění pozdějších
              předpisů, včetně možnosti podat podnět vůči příslušným státním orgánům, a to na:
            </p>
            <ul>
              <li>[e-mail, telefonní číslo nebo nějaké další kontaktní údaje]</li>
            </ul>
            <p>Na vaši žádost se podíváme a ozveme se vám do [počet] dnů.</p>
            <p>Kontakt na osobu odpovědnou za přístupnost stránek a za zpracování žádostí zaslaných prostřednictvím mechanismu
              zpětné vazby:</p>
            <ul>
              <li>[e-mail, telefonní číslo nebo nějaké další kontaktní údaje]</li>
            </ul>
          </section>
          <section>
            <h2>Postup pro prosazování práva</h2>
            <p>V případě neuspokojivé odpovědi na zpětnou vazbu dle předchozího odstavce, můžete kontaktovat příslušný orgán pro
              prosazování práva:</p>
            <p>Ministerstvo vnitra, odbor eGovernmentu
            </p>
            <p>náměstí Hrdinů 1634/3, 140 21 Praha 4
            </p>
            <p>email: pristupnost@mvcr.cz</p>
          </section>
        </div>
      </div>
    </div>