---
layout: layouts/base.njk
section: prohlaseni
---

<header class="intro-header">
  <div class="intro-content w-container">
    <div class="intro-content w-container">
      <div class="horizontal-layout hp-layout">
        <div class="msp-grid-row">
          <div class="msp-grid-column-full">
            <ul>
              <li>
                <a href="/">Domů</a>
              </li>
            </ul>
            <h1 class="heading-1 w-col-10">
              Psaní přístupného obsahu
            </h1>
            <p>Jasný a jednoduchý jazyk zajistí, že vaše webová stránka nebo aplikace bude srozumitelná všem uživatelům.</p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="w-container">
    <div class="horizontal-layout hp-layout">
      <div class="msp-grid-row">
        <div class="msp-grid-column-two-thirds">
          <section>
            <h2>Důležitost jednoduchého textu</h2>
            <p>Složitá slova a dlouhá souvětí mohou být překážkou zejména pro:</p>
            <ul>
              <li>uživatele s poruchami učení nebo kognitivními problémy</li>
              <li>uživatelé s horší schopností čtení</li>
              <li>uživatelé, jejichž prvním jazykem není čeština. Patří sem i uživatelé znakového jazyka (ČZJ)</li>
            </ul>
            <p>Někdy může být nutné publikovat obsah v jiných jazycích než v češtine. Toto je důležité správně nakódovat, protože to
              ovlivňuje způsob, jakým některé asistenční technologie se stránkou pracují – například budou číst text podle pravidel
              výslovnosti kódovaného jazyka. Všechny webové stránky by měly mít v kódu uveden hlavní jazyk.</p>
          </section>
          <section>
            <h2>Pomáhejte každému</h2>
            <p>Jednoduchý jazyk neznamená hloupý – krátké a jasné věty jsou srozumitelnější pro každého. Zpravidla se doporučuje
              psát text tak, aby ho pochopil čtenář ve věkové kategorii 15+.
            </p>
            <p>Microsoft Word má
              <a href="https://support.microsoft.com/cs-cz/office/z%C3%ADskán%C3%AD-čitelnosti-a-statistiky-úrovně-dokumentu-85b4969e-e80a-4777-8dd3-f7fc3c8b3fd2">
              nástroj na kontrolu čitelnosti textu</a>. Každý test čitelnosti je založen hodnocení na průměrném počtu slabik na slovo a slova na větu.</p>
            <p>
              <img
                class="alignnone size-large wp-image-1922"
                src="https://www.howtogeek.com/wp-content/uploads/2016/03/top-13.png"
                alt="Copy of the book ‘Disability Visibility: First-person stories from the Twenty-first century’ edited by Alice Wong,
                  on a wooden table next to a cup of tea."
                width="620"
                height="390"
                srcset="https://www.howtogeek.com/wp-content/uploads/2016/03/top-13.png
                                620w"
                sizes="(max-width: 620px) 100vw, 620px"></p>
            </section>
            <section>
              <h2>Základy</h2>
              <p>Dělejte následující:</p>
              <ul>
                <li>pište jasně a jednoduše</li>
                <li>používejte zkratky střídmě a ty, které používáte, definujte</li>
                <li>nastavte jazyk každé stránky</li>
                <li>nastavte jazyk každého obsahu, který je v jiném jazyce než zbytek stránky</li>
                <li>zveřejněte snadno čitelnou verzi, pokud ji uživatelé potřebují.</li>
              </ul>
              <p>Nedělejte následující:</p>
              <ul>
                <li>nepoužívejte žargon nebo nedefinované zkratky</li>
                <li>nepište dlouhé nebo složité věty</li>
                <li>nepoužívejte idiomy nebo řečnické obraty</li>
                <li>používejte ampersandy nebo jiné textové symboly místo slov</li>
              </ul>
            </section>
            <section>
              <h2>Příklady co potřebují uživatelé vašich stránek</h2>
              <table class="msp-table">
                <caption class="msp-table__caption msp-table__caption--l vh">Examples of users with access needs</caption>
                <thead class="msp-table__head">
                  <tr class="msp-table__row">
                    <th scope="col" class="msp-table__header">Uživatel</th>
                    <th scope="col" class="msp-table__header">Potřeba</th>
                    <th scope="col" class="msp-table__header">Může být pro něj užitečné</th>
                  </tr>
                </thead>
                <tbody class="msp-table__body">
                  <tr class="msp-table__row">
                    <td class="msp-table__cell">Nevidomí nebo slabozrací
                    </td>
                    <td class="msp-table__cell">Používá čtečku obrazovky nebo software pro překlad do Braillova písma</td>
                    <td class="msp-table__cell">Kódy jazyka, které pomohou čtenáři obrazovky správně vyslovit slova nebo je přesně přeložit
                      do Braillova písma.</td>
                  </tr>
                  <tr class="msp-table__row">
                    <td class="msp-table__cell">Nižší gramotnost</td>
                    <td class="msp-table__cell">Má nižší slovní zásobu a nedokáže s jistotou číst delší slova</td>
                    <td class="msp-table__cell">Srozumitelný a jednoduchý jazyk</td>
                  </tr>
                  <tr class="msp-table__row">
                    <td class="msp-table__cell">Dyslektik</td>
                    <td class="msp-table__cell">Může mít problémy s delšími odstavci nebo složitějšími větami; může používat software pro
                      převod textu na řeč</td>
                    <td class="msp-table__cell">Krátké, jednoduché věty členěné jasnými nadpisy<br>
                        <br>Kódy jazyka, které softwaru pomáhají správně vyslovovat slova/td>
                        </tr>
                        <tr class="msp-table__row">
                          <td class="msp-table__cell">Člověk nemluvicí česky</td>
                          <td class="msp-table__cell">Může mít omezenou slovní zásobu nebo používat překladový software<br>
                              <br>Může mluvit ČZJ</td>
                              <td class="msp-table__cell">Srozumitelný a jednoduchý jazyk<br>
                                  <br>Kódy jazyka, které pomáhají překladovému softwaru<br>
                                      <br>Verze videí do ČZJ</td>
                                    </tr>
                                    <tr class="msp-table__row">
                                      <td class="msp-table__cell">Porucha autistické spektra</td>
                                      <td class="msp-table__cell">Obtížně chápe idiomy</td>
                                      <td class="msp-table__cell">Srozumitelný a jednoduchý jazyk</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </section>
                            </div>
                          </div>
                        </div>